<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>{{ title }}</h2>

  <table>
  
    <tr>
      <td>Модель:</td>
      <td>{{ 'клиента' if clientModel else 'наш' }}</td>
    </tr>

    <tr>
      <td>Телефон:</td>
      <td>{{ phone }}</td>
    </tr>

    <tr>
      <td>Цена:</td>
      <td>{{ price }} ₽</td>
    </tr>

    <tr>
      <td>Срочность:</td>
      <td>{{ 'да' if urgency else 'нет' }}</td>
    </tr>

    {% if not clientModel %}    

    <tr>
      <td>Качество:</td>
      <td>{{ quality }}</td>
    </tr>

    <tr>
      <td>Размер:</td>
      <td>{{ quantity | safe }}</td>
    </tr>

    {% endif %}
    
  </table>

</body>
</html>