MONGODB_URI=mongodb://localhost:27017/print

PAYLOAD_SECRET=sdfghjoiuytrcfvbhnj
PAYLOAD_DOMAIN=http://localhost:3050

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=test@mail.ru
SMTP_PASS=password
SMTP_NAME=Print Designer
MANAGER_EMAIL=youremail@mail.ru